In [33]:
import pandas as pd
import numpy as np

In [41]:
df = pd.read_csv('House_dataset/1976-2020-house.csv')

In [42]:
df.shape

(31101, 20)

In [43]:
# drop unused columns and nulls
df = df.drop(columns=['mode', 'version', 'office', 'fusion_ticket', 'unofficial', 'writein',
                      'special', 'runoff', 'stage', 'state_cen', 'state_ic'])
df = df.dropna()
# df = df.reset_index()
df.shape

(27472, 9)

In [44]:
# drop counties reporting zero total votes
df = df.loc[df['totalvotes'] != 0]
df.shape

(27471, 9)

In [45]:
# get % of votes each party received in each county
temp = []

for index, row in df.iterrows():
    temp.append(round(row['candidatevotes'] / row['totalvotes'], 4))
df['percentage'] = temp

In [46]:
valid_parties = ['DEMOCRAT', 'REPUBLICAN', 'LIBERTARIAN', 'INDEPENDENT', 'GREEN', 'OTHER']

for index, row in df.iterrows():
    if row['party'] not in valid_parties:
        df.loc[index,'party'] = 'OTHER'

In [47]:
counter = {}
for index, row in df.iterrows():
    if row['party'] in counter:
        counter[row['party']] += 1
    else:
        counter[row['party']] = 1
        
print(counter)

{'DEMOCRAT': 9501, 'REPUBLICAN': 9264, 'OTHER': 4349, 'INDEPENDENT': 1166, 'LIBERTARIAN': 2683, 'GREEN': 508}

In [11]:
df.head(10)

,index,year,state,state_po,state_fips,district,candidate,party,candidatevotes,totalvotes,percentage
0,0,1976,ALABAMA,AL,1,1,BILL DAVENPORT,DEMOCRAT,58906,157170,0.3748
1,1,1976,ALABAMA,AL,1,1,JACK EDWARDS,REPUBLICAN,98257,157170,0.6252
2,3,1976,ALABAMA,AL,1,2,J. CAROLE KEAHEY,DEMOCRAT,66288,156362,0.4239
3,5,1976,ALABAMA,AL,1,2,"WILLIAM L. """"BILL"""" DICKINSON",REPUBLICAN,90069,156362,0.5760
4,6,1976,ALABAMA,AL,1,3,BILL NICHOLS,DEMOCRAT,106935,108048,0.9897
5,8,1976,ALABAMA,AL,1,3,OGBURN GARDNER,OTHER,1111,108048,0.0103
6,9,1976,ALABAMA,AL,1,4,TOM BEVILL,DEMOCRAT,141490,176022,0.8038
7,10,1976,ALABAMA,AL,1,4,LEONARD WILSON,REPUBLICAN,34531,176022,0.1962
8,12,1976,ALABAMA,AL,1,5,RONNIE G. FLIPPO,DEMOCRAT,113553,113560,0.9999
9,14,1976,ALABAMA,AL,1,6,BILLY E. DORSEY,OTHER,1021,162518,0.0063

In [48]:
#create new dataframe with desired data config
curr_dist = 'AL1'
new_df = []
temp_dict = {}
for index, row in df.iterrows():
    if row['state_po'] + str(row['district']) == curr_dist:
        temp_dict['year'] = row['year']
        temp_dict['state'] = row['state_po']
        temp_dict['state_fips'] = int(row['state_fips'])
        temp_dict['district'] = row['district']
        temp_dict['total_no'] = row['totalvotes']
        curr_party = row['party'][0].lower()
        
        if curr_party == 'd':
            temp_dict['dem_no'] = row['candidatevotes']
            temp_dict['dem_pct'] = row['percentage']
        elif curr_party == 'r':
            temp_dict['rep_no'] = row['candidatevotes']
            temp_dict['rep_pct'] = row['percentage']
        elif curr_party == 'l':
            temp_dict['lib_no'] = row['candidatevotes']
            temp_dict['lib_pct'] = row['percentage']
        elif curr_party == 'g':
            temp_dict['grn_no'] = row['candidatevotes']
            temp_dict['grn_pct'] = row['percentage']
        else:
            temp_dict['oth_no'] = row['candidatevotes']
            temp_dict['oth_pct'] = row['percentage']
    else:
        copy = temp_dict.copy()
        new_df.append(copy)
        temp_dict.clear()
        
        temp_dict['year'] = row['year']
        temp_dict['state'] = row['state_po']
        temp_dict['state_fips'] = int(row['state_fips'])
        temp_dict['district'] = row['district']
        temp_dict['total_no'] = row['totalvotes']
        curr_party = row['party'][0].lower()

        if curr_party == 'd':
            temp_dict['dem_no'] = row['candidatevotes']
            temp_dict['dem_pct'] = row['percentage']
        elif curr_party == 'r':
            temp_dict['rep_no'] = row['candidatevotes']
            temp_dict['rep_pct'] = row['percentage']
        elif curr_party == 'l':
            temp_dict['lib_no'] = row['candidatevotes']
            temp_dict['lib_pct'] = row['percentage']
        elif curr_party == 'g':
            temp_dict['grn_no'] = row['candidatevotes']
            temp_dict['grn_pct'] = row['percentage']
        else:
            temp_dict['oth_no'] = row['candidatevotes']
            temp_dict['oth_pct'] = row['percentage']
    
    curr_dist = row['state_po'] + str(row['district'])
    

new_df = pd.DataFrame(new_df)
new_df = new_df.set_index(("state_fips","year","district"))
new_df = new_df.drop(columns=[['state_fips','year','district']])
new_df = new_df.replace(np.nan, 0)

KeyError: "None of [('state_fips', 'year', 'district')] are in the columns"

In [38]:
new_df.head(20)

,year,state,state_fips,district,total_no,dem_no,dem_pct,rep_no,rep_pct,oth_no,oth_pct,lib_no,lib_pct,grn_no,grn_pct
0,1976,AL,1,1,157170,58906.0,0.3748,98257.0,0.6252,0.0,0.0000,0.0,0.0000,0.0,0.0
1,1976,AL,1,2,156362,66288.0,0.4239,90069.0,0.5760,0.0,0.0000,0.0,0.0000,0.0,0.0
2,1976,AL,1,3,108048,106935.0,0.9897,0.0,0.0000,1111.0,0.0103,0.0,0.0000,0.0,0.0
3,1976,AL,1,4,176022,141490.0,0.8038,34531.0,0.1962,0.0,0.0000,0.0,0.0000,0.0,0.0
4,1976,AL,1,5,113560,113553.0,0.9999,0.0,0.0000,0.0,0.0000,0.0,0.0000,0.0,0.0
5,1976,AL,1,6,162518,69384.0,0.4269,92113.0,0.5668,1021.0,0.0063,0.0,0.0000,0.0,0.0
6,1976,AL,1,7,110501,110496.0,1.0000,0.0,0.0000,0.0,0.0000,0.0,0.0000,0.0,0.0
7,1976,AK,2,0,118208,34194.0,0.2893,83722.0,0.7083,0.0,0.0000,0.0,0.0000,0.0,0.0
8,1976,AZ,4,1,168119,68404.0,0.4069,96397.0,0.5734,1040.0,0.0062,2278.0,0.0135,0.0,0.0
9,1976,AZ,4,2,182128,106054.0,0.5823,71765.0,0.3940,0.0,0.0000,4309.0,0.0237,0.0,0.0
10,1976,AZ,4,3,187165,88854.0,0.4747,79162.0,0.4230,19149.0,0.1023,0.0,0.0000,0.0,0.0
11,1976,AZ,4,4,191590,92435.0,0.4825,93154.0,0.4862,0.0,0.0000,6001.0,0.0313,0.0,0.0
12,1976,AR,5,1,168782,116217.0,0.6886,52565.0,0.3114,0.0,0.0000,0.0,0.0000,0.0,0.0
13,1976,AR,5,2,167607,144780.0,0.8638,22819.0,0.1361,0.0,0.0000,0.0,0.0000,0.0,0.0
14,1976,AR,5,3,1,0.0,0.0000,1.0,1.0000,0.0,0.0000,0.0,0.0000,0.0,0.0
15,1976,AR,5,4,1,1.0,1.0000,0.0,0.0000,0.0,0.0000,0.0,0.0000,0.0,0.0
16,1976,CA,6,1,217016,160477.0,0.7395,56539.0,0.2605,0.0,0.0000,0.0,0.0000,0.0,0.0
17,1976,CA,6,2,216563,88829.0,0.4102,121290.0,0.5601,6444.0,0.0298,0.0,0.0000,0.0,0.0
18,1976,CA,6,3,191854,139779.0,0.7286,52075.0,0.2714,0.0,0.0000,0.0,0.0000,0.0,0.0
19,1976,CA,6,4,151037,75844.0,0.5022,75193.0,0.4978,0.0,0.0000,0.0,0.0000,0.0,0.0

In [36]:
for index, row in new_df.iterrows():
    if row['dem_pct'] + row['rep_pct'] + row['lib_pct'] + row['grn_pct'] + row['oth_pct'] < 0.95:
        print(index, row['year'], row['state'], row['district'])

8 1976 CO 4
34 1976 NJ 15
36 1976 NY 3
36 1976 NY 4
36 1976 NY 7
36 1976 NY 8
36 1976 NY 10
36 1976 NY 13
36 1976 NY 14
36 1976 NY 15
36 1976 NY 16
36 1976 NY 17
36 1976 NY 18
36 1976 NY 19
36 1976 NY 20
36 1976 NY 23
36 1976 NY 24
36 1976 NY 29
36 1976 NY 38
39 1976 OH 18
39 1976 OH 20
41 1976 OR 4
49 1976 UT 2
54 1976 WV 4
23 1978 ME 2
25 1978 MA 9
28 1978 MS 4
34 1978 NJ 9
36 1978 NY 4
36 1978 NY 7
36 1978 NY 8
36 1978 NY 9
36 1978 NY 14
36 1978 NY 15
36 1978 NY 16
36 1978 NY 17
36 1978 NY 19
36 1978 NY 22
36 1978 NY 23
36 1978 NY 24
36 1978 NY 26
36 1978 NY 37
36 1978 NY 38
39 1978 OH 22
42 1978 PA 25
6 1980 CA 11
22 1980 LA 2
22 1980 LA 3
22 1980 LA 4
22 1980 LA 5
22 1980 LA 8
36 1980 NY 1
36 1980 NY 2
36 1980 NY 3
36 1980 NY 4
36 1980 NY 5
36 1980 NY 6
36 1980 NY 7
36 1980 NY 8
36 1980 NY 11
36 1980 NY 13
36 1980 NY 14
36 1980 NY 15
36 1980 NY 16
36 1980 NY 17
36 1980 NY 19
36 1980 NY 20
36 1980 NY 30
36 1980 NY 32
36 1980 NY 33
36 1980 NY 37
36 1980 NY 38
42 1980 PA 1
50 1980 VT 0
51 1980 VA 3
6 1982 CA 43
36 1982 NY 2
36 1982 NY 4
36 1982 NY 7
36 1982 NY 10
36 1982 NY 12
36 1982 NY 13
36 1982 NY 14
36 1982 NY 15
36 1982 NY 16
36 1982 NY 17
36 1982 NY 19
36 1982 NY 32
36 1982 NY 33
37 1982 NC 2
50 1982 VT 0
36 1984 NY 1
36 1984 NY 2
36 1984 NY 5
36 1984 NY 9
36 1984 NY 14
36 1984 NY 17
36 1984 NY 19
36 1984 NY 24
36 1984 NY 31
36 1984 NY 33
6 1986 CA 9
22 1986 LA 7
25 1986 MA 2
25 1986 MA 3
25 1986 MA 4
25 1986 MA 5
25 1986 MA 6
25 1986 MA 7
25 1986 MA 8
25 1986 MA 9
25 1986 MA 11
36 1986 NY 1
36 1986 NY 2
36 1986 NY 3
36 1986 NY 4
36 1986 NY 5
36 1986 NY 8
36 1986 NY 10
36 1986 NY 12
36 1986 NY 14
36 1986 NY 16
36 1986 NY 17
36 1986 NY 19
36 1986 NY 20
36 1986 NY 24
36 1986 NY 25
36 1986 NY 32
50 1986 VT 0
27 1988 MN 5
34 1988 NJ 10
36 1988 NY 1
36 1988 NY 2
36 1988 NY 5
36 1988 NY 6
36 1988 NY 12
36 1988 NY 14
36 1988 NY 19
36 1988 NY 20
36 1988 NY 24
36 1988 NY 34
50 1988 VT 0
1 1990 AL 6
22 1990 LA 2
25 1990 MA 1
25 1990 MA 2
25 1990 MA 3
25 1990 MA 6
25 1990 MA 7
25 1990 MA 8
25 1990 MA 9
25 1990 MA 11
34 1990 NJ 8
36 1990 NY 1
36 1990 NY 2
36 1990 NY 3
36 1990 NY 4
36 1990 NY 5
36 1990 NY 6
36 1990 NY 7
36 1990 NY 8
36 1990 NY 9
36 1990 NY 10
36 1990 NY 11
36 1990 NY 12
36 1990 NY 13
36 1990 NY 14
36 1990 NY 15
36 1990 NY 16
36 1990 NY 17
36 1990 NY 18
36 1990 NY 19
36 1990 NY 20
36 1990 NY 21
36 1990 NY 22
36 1990 NY 23
36 1990 NY 24
36 1990 NY 25
36 1990 NY 26
36 1990 NY 27
36 1990 NY 28
36 1990 NY 29
36 1990 NY 30
36 1990 NY 31
36 1990 NY 32
36 1990 NY 33
36 1990 NY 34
47 1990 TN 5
50 1990 VT 0
51 1990 VA 4
1 1992 AL 7
6 1992 CA 25
6 1992 CA 29
6 1992 CA 36
9 1992 CT 4
12 1992 FL 22
22 1992 LA 4
22 1992 LA 6
25 1992 MA 9
25 1992 MA 10
27 1992 MN 1
27 1992 MN 2
27 1992 MN 3
27 1992 MN 4
27 1992 MN 5
27 1992 MN 6
27 1992 MN 7
27 1992 MN 8
34 1992 NJ 8
36 1992 NY 1
36 1992 NY 2
36 1992 NY 3
36 1992 NY 4
36 1992 NY 5
36 1992 NY 6
36 1992 NY 7
36 1992 NY 8
36 1992 NY 9
36 1992 NY 10
36 1992 NY 11
36 1992 NY 12
36 1992 NY 13
36 1992 NY 14
36 1992 NY 15
36 1992 NY 16
36 1992 NY 17
36 1992 NY 18
36 1992 NY 19
36 1992 NY 20
36 1992 NY 21
36 1992 NY 22
36 1992 NY 23
36 1992 NY 24
36 1992 NY 25
36 1992 NY 26
36 1992 NY 27
36 1992 NY 28
36 1992 NY 29
36 1992 NY 30
36 1992 NY 31
39 1992 OH 1
39 1992 OH 11
47 1992 TN 8
47 1992 TN 9
9 1994 CT 1
9 1994 CT 5
23 1994 ME 2
27 1994 MN 2
27 1994 MN 4
36 1994 NY 1
36 1994 NY 2
36 1994 NY 3
36 1994 NY 4
36 1994 NY 5
36 1994 NY 6
36 1994 NY 7
36 1994 NY 8
36 1994 NY 9
36 1994 NY 10
36 1994 NY 11
36 1994 NY 12
36 1994 NY 13
36 1994 NY 14
36 1994 NY 15
36 1994 NY 16
36 1994 NY 17
36 1994 NY 18
36 1994 NY 19
36 1994 NY 20
36 1994 NY 21
36 1994 NY 22
36 1994 NY 23
36 1994 NY 24
36 1994 NY 25
36 1994 NY 26
36 1994 NY 27
36 1994 NY 28
36 1994 NY 29
36 1994 NY 30
36 1994 NY 31
39 1994 OH 19
51 1994 VA 10
6 1996 CA 22
9 1996 CT 1
9 1996 CT 3
22 1996 LA 7
27 1996 MN 5
36 1996 NY 1
36 1996 NY 2
36 1996 NY 3
36 1996 NY 4
36 1996 NY 5
36 1996 NY 6
36 1996 NY 7
36 1996 NY 8
36 1996 NY 9
36 1996 NY 10
36 1996 NY 11
36 1996 NY 12
36 1996 NY 13
36 1996 NY 14
36 1996 NY 15
36 1996 NY 16
36 1996 NY 17
36 1996 NY 18
36 1996 NY 19
36 1996 NY 20
36 1996 NY 21
36 1996 NY 22
36 1996 NY 23
36 1996 NY 24
36 1996 NY 25
36 1996 NY 26
36 1996 NY 27
36 1996 NY 28
36 1996 NY 29
36 1996 NY 30
36 1996 NY 31
48 1996 TX 6
48 1996 TX 8
48 1996 TX 9
48 1996 TX 18
48 1996 TX 24
48 1996 TX 25
48 1996 TX 30
50 1996 VT 0
22 1998 LA 2
27 1998 MN 2
27 1998 MN 4
27 1998 MN 5
27 1998 MN 8
32 1998 NV 2
36 1998 NY 1
36 1998 NY 2
36 1998 NY 3
36 1998 NY 4
36 1998 NY 5
36 1998 NY 6
36 1998 NY 7
36 1998 NY 8
36 1998 NY 9
36 1998 NY 10
36 1998 NY 11
36 1998 NY 12
36 1998 NY 13
36 1998 NY 14
36 1998 NY 15
36 1998 NY 16
36 1998 NY 17
36 1998 NY 18
36 1998 NY 19
36 1998 NY 20
36 1998 NY 21
36 1998 NY 22
36 1998 NY 23
36 1998 NY 24
36 1998 NY 25
36 1998 NY 26
36 1998 NY 27
36 1998 NY 28
36 1998 NY 29
36 1998 NY 30
36 1998 NY 31
47 1998 TN 2
47 1998 TN 5
50 1998 VT 0
51 1998 VA 1
51 1998 VA 2
8 2000 CO 4
12 2000 FL 10
22 2000 LA 1
22 2000 LA 3
25 2000 MA 2
25 2000 MA 3
25 2000 MA 4
25 2000 MA 5
25 2000 MA 7
25 2000 MA 8
25 2000 MA 9
25 2000 MA 10
27 2000 MN 3
27 2000 MN 4
27 2000 MN 5
27 2000 MN 6
27 2000 MN 8
36 2000 NY 1
36 2000 NY 2
36 2000 NY 3
36 2000 NY 4
36 2000 NY 5
36 2000 NY 6
36 2000 NY 7
36 2000 NY 8
36 2000 NY 9
36 2000 NY 10
36 2000 NY 11
36 2000 NY 12
36 2000 NY 13
36 2000 NY 14
36 2000 NY 15
36 2000 NY 16
36 2000 NY 17
36 2000 NY 18
36 2000 NY 19
36 2000 NY 20
36 2000 NY 21
36 2000 NY 22
36 2000 NY 23
36 2000 NY 24
36 2000 NY 25
36 2000 NY 26
36 2000 NY 27
36 2000 NY 28
36 2000 NY 29
36 2000 NY 30
36 2000 NY 31
39 2000 OH 17
45 2000 SC 4
50 2000 VT 0
51 2000 VA 5
51 2000 VA 10
5 2002 AR 2
8 2002 CO 6
22 2002 LA 1
22 2002 LA 2
22 2002 LA 3
25 2002 MA 2
25 2002 MA 3
25 2002 MA 4
25 2002 MA 6
25 2002 MA 7
25 2002 MA 8
25 2002 MA 9
27 2002 MN 6
36 2002 NY 1
36 2002 NY 2
36 2002 NY 3
36 2002 NY 4
36 2002 NY 5
36 2002 NY 6
36 2002 NY 7
36 2002 NY 8
36 2002 NY 9
36 2002 NY 10
36 2002 NY 11
36 2002 NY 12
36 2002 NY 13
36 2002 NY 14
36 2002 NY 15
36 2002 NY 16
36 2002 NY 17
36 2002 NY 18
36 2002 NY 19
36 2002 NY 20
36 2002 NY 21
36 2002 NY 22
36 2002 NY 23
36 2002 NY 24
36 2002 NY 25
36 2002 NY 26
36 2002 NY 27
36 2002 NY 28
36 2002 NY 29
45 2002 SC 1
50 2002 VT 0
51 2002 VA 9
22 2004 LA 1
22 2004 LA 5
22 2004 LA 6
25 2004 MA 1
25 2004 MA 2
25 2004 MA 4
25 2004 MA 6
25 2004 MA 7
25 2004 MA 8
25 2004 MA 9
27 2004 MN 2
27 2004 MN 4
28 2004 MS 3
36 2004 NY 1
36 2004 NY 2
36 2004 NY 3
36 2004 NY 4
36 2004 NY 5
36 2004 NY 6
36 2004 NY 7
36 2004 NY 8
36 2004 NY 9
36 2004 NY 10
36 2004 NY 11
36 2004 NY 12
36 2004 NY 13
36 2004 NY 14
36 2004 NY 15
36 2004 NY 16
36 2004 NY 17
36 2004 NY 18
36 2004 NY 19
36 2004 NY 20
36 2004 NY 21
36 2004 NY 22
36 2004 NY 23
36 2004 NY 24
36 2004 NY 25
36 2004 NY 26
36 2004 NY 27
36 2004 NY 28
36 2004 NY 29
48 2004 TX 10
50 2004 VT 0
55 2004 WI 7
12 2006 FL 12
17 2006 IL 8
22 2006 LA 1
22 2006 LA 2
22 2006 LA 3
22 2006 LA 4
25 2006 MA 1
25 2006 MA 2
25 2006 MA 3
25 2006 MA 4
25 2006 MA 5
25 2006 MA 7
25 2006 MA 8
25 2006 MA 9
27 2006 MN 5
27 2006 MN 6
28 2006 MS 3
36 2006 NY 1
36 2006 NY 2
36 2006 NY 3
36 2006 NY 4
36 2006 NY 5
36 2006 NY 6
36 2006 NY 7
36 2006 NY 8
36 2006 NY 9
36 2006 NY 10
36 2006 NY 11
36 2006 NY 12
36 2006 NY 13
36 2006 NY 14
36 2006 NY 15
36 2006 NY 16
36 2006 NY 17
36 2006 NY 18
36 2006 NY 19
36 2006 NY 20
36 2006 NY 21
36 2006 NY 22
36 2006 NY 23
36 2006 NY 24
36 2006 NY 25
36 2006 NY 26
36 2006 NY 27
36 2006 NY 28
36 2006 NY 29
48 2006 TX 15
48 2006 TX 21
48 2006 TX 22
48 2006 TX 23
48 2006 TX 28
51 2006 VA 6
12 2008 FL 13
12 2008 FL 14
15 2008 HI 1
15 2008 HI 2
25 2008 MA 2
25 2008 MA 3
25 2008 MA 4
25 2008 MA 5
25 2008 MA 6
25 2008 MA 7
25 2008 MA 8
25 2008 MA 9
25 2008 MA 10
27 2008 MN 1
27 2008 MN 3
27 2008 MN 5
27 2008 MN 6
34 2008 NJ 7
36 2008 NY 1
36 2008 NY 2
36 2008 NY 3
36 2008 NY 4
36 2008 NY 5
36 2008 NY 6
36 2008 NY 7
36 2008 NY 8
36 2008 NY 9
36 2008 NY 10
36 2008 NY 11
36 2008 NY 12
36 2008 NY 13
36 2008 NY 14
36 2008 NY 15
36 2008 NY 16
36 2008 NY 17
36 2008 NY 18
36 2008 NY 19
36 2008 NY 20
36 2008 NY 21
36 2008 NY 22
36 2008 NY 23
36 2008 NY 24
36 2008 NY 25
36 2008 NY 26
36 2008 NY 27
36 2008 NY 28
36 2008 NY 29
41 2008 OR 1
47 2008 TN 9
50 2008 VT 0
12 2010 FL 1
25 2010 MA 10
27 2010 MN 1
27 2010 MN 3
27 2010 MN 5
27 2010 MN 6
31 2010 NE 3
36 2010 NY 1
36 2010 NY 5
36 2010 NY 6
36 2010 NY 7
36 2010 NY 8
36 2010 NY 9
36 2010 NY 10
36 2010 NY 11
36 2010 NY 12
36 2010 NY 14
36 2010 NY 15
36 2010 NY 16
36 2010 NY 17
36 2010 NY 19
36 2010 NY 23
36 2010 NY 24
36 2010 NY 25
36 2010 NY 26
36 2010 NY 27
36 2010 NY 28
36 2010 NY 29
47 2010 TN 3
6 2012 CA 8
6 2012 CA 15
6 2012 CA 30
6 2012 CA 31
6 2012 CA 35
6 2012 CA 40
6 2012 CA 43
6 2012 CA 44
8 2012 CO 5
12 2012 FL 21
12 2012 FL 25
22 2012 LA 1
22 2012 LA 2
22 2012 LA 3
24 2012 MD 1
25 2012 MA 1
25 2012 MA 2
25 2012 MA 5
25 2012 MA 7
25 2012 MA 8
25 2012 MA 9
36 2012 NY 1
36 2012 NY 2
36 2012 NY 3
36 2012 NY 4
36 2012 NY 5
36 2012 NY 6
36 2012 NY 7
36 2012 NY 8
36 2012 NY 9
36 2012 NY 10
36 2012 NY 11
36 2012 NY 12
36 2012 NY 13
36 2012 NY 14
36 2012 NY 15
36 2012 NY 16
36 2012 NY 17
36 2012 NY 18
36 2012 NY 19
36 2012 NY 20
36 2012 NY 21
36 2012 NY 22
36 2012 NY 23
36 2012 NY 24
36 2012 NY 25
36 2012 NY 26
36 2012 NY 27
56 2012 WY 0
4 2014 AZ 7
6 2014 CA 4
6 2014 CA 17
6 2014 CA 19
6 2014 CA 25
6 2014 CA 34
6 2014 CA 35
6 2014 CA 40
12 2014 FL 4
22 2014 LA 1
22 2014 LA 2
22 2014 LA 3
22 2014 LA 5
22 2014 LA 6
25 2014 MA 1
25 2014 MA 2
25 2014 MA 4
25 2014 MA 5
25 2014 MA 7
25 2014 MA 8
27 2014 MN 2
27 2014 MN 4
27 2014 MN 6
28 2014 MS 2
36 2014 NY 1
36 2014 NY 2
36 2014 NY 3
36 2014 NY 4
36 2014 NY 5
36 2014 NY 6
36 2014 NY 7
36 2014 NY 8
36 2014 NY 9
36 2014 NY 10
36 2014 NY 11
36 2014 NY 12
36 2014 NY 13
36 2014 NY 14
36 2014 NY 15
36 2014 NY 16
36 2014 NY 17
36 2014 NY 18
36 2014 NY 19
36 2014 NY 20
36 2014 NY 21
36 2014 NY 22
36 2014 NY 23
36 2014 NY 24
36 2014 NY 25
36 2014 NY 26
36 2014 NY 27
37 2014 NC 9
45 2014 SC 1
51 2014 VA 3
53 2014 WA 4
1 2016 AL 2
6 2016 CA 17
6 2016 CA 29
6 2016 CA 32
6 2016 CA 34
6 2016 CA 37
6 2016 CA 44
6 2016 CA 46
15 2016 HI 1
15 2016 HI 2
22 2016 LA 1
22 2016 LA 2
22 2016 LA 3
22 2016 LA 4
22 2016 LA 5
22 2016 LA 6
25 2016 MA 1
25 2016 MA 2
25 2016 MA 5
25 2016 MA 6
25 2016 MA 7
25 2016 MA 8
25 2016 MA 9
27 2016 MN 2
33 2016 NH 1
36 2016 NY 1
36 2016 NY 2
36 2016 NY 3
36 2016 NY 4
36 2016 NY 5
36 2016 NY 6
36 2016 NY 7
36 2016 NY 8
36 2016 NY 9
36 2016 NY 10
36 2016 NY 11
36 2016 NY 12
36 2016 NY 13
36 2016 NY 14
36 2016 NY 15
36 2016 NY 16
36 2016 NY 17
36 2016 NY 18
36 2016 NY 19
36 2016 NY 20
36 2016 NY 21
36 2016 NY 22
36 2016 NY 23
36 2016 NY 24
36 2016 NY 25
36 2016 NY 26
36 2016 NY 27
41 2016 OR 3
44 2016 RI 2
50 2016 VT 0
51 2016 VA 11
53 2016 WA 4
53 2016 WA 7
6 2018 CA 6
6 2018 CA 8
6 2018 CA 27
6 2018 CA 44
22 2018 LA 1
22 2018 LA 2
22 2018 LA 3
22 2018 LA 6
27 2018 MN 4
27 2018 MN 8
28 2018 MS 2
36 2018 NY 1
36 2018 NY 2
36 2018 NY 3
36 2018 NY 6
36 2018 NY 7
36 2018 NY 8
36 2018 NY 9
36 2018 NY 10
36 2018 NY 11
36 2018 NY 14
36 2018 NY 17
36 2018 NY 18
36 2018 NY 19
36 2018 NY 20
36 2018 NY 21
36 2018 NY 22
36 2018 NY 23
36 2018 NY 24
36 2018 NY 25
36 2018 NY 27
38 2018 ND 0
41 2018 OR 3
51 2018 VA 3
53 2018 WA 9
22 2002 LA 5
4 2020 AZ 1
4 2020 AZ 2
4 2020 AZ 1
4 2020 AZ 5
5 2020 AR 2
5 2020 AR 3
5 2020 AR 3
5 2020 AR 2
5 2020 AR 3
6 2020 CA 3
6 2020 CA 5
6 2020 CA 10
6 2020 CA 18
6 2020 CA 23
6 2020 CA 3
6 2020 CA 5
6 2020 CA 25
6 2020 CA 29
6 2020 CA 30
6 2020 CA 10
6 2020 CA 12
6 2020 CA 38
6 2020 CA 43
6 2020 CA 23
6 2020 CA 25
6 2020 CA 45
6 2020 CA 53
6 2020 CA 33
6 2020 CA 34
6 2020 CA 43
6 2020 CA 44
6 2020 CA 45
6 2020 CA 33
6 2020 CA 30
8 2020 CO 4
8 2020 CO 2
8 2020 CO 3
8 2020 CO 4
8 2020 CO 7
8 2020 CO 1
8 2020 CO 6
8 2020 CO 7
8 2020 CO 5
9 2020 CT 5
9 2020 CT 2
9 2020 CT 4
9 2020 CT 5
9 2020 CT 4
11 2020 DC 0
12 2020 FL 7
12 2020 FL 12
12 2020 FL 19
12 2020 FL 18
12 2020 FL 19
12 2020 FL 8
12 2020 FL 7
12 2020 FL 8
12 2020 FL 12
12 2020 FL 7
13 2020 GA 2
13 2020 GA 2
13 2020 GA 12
13 2020 GA 13
13 2020 GA 12
15 2020 HI 1
15 2020 HI 2
17 2020 IL 2
17 2020 IL 6
17 2020 IL 16
17 2020 IL 2
17 2020 IL 17
17 2020 IL 6
17 2020 IL 16
17 2020 IL 17
18 2020 IN 4
18 2020 IN 5
18 2020 IN 9
18 2020 IN 9
18 2020 IN 4
19 2020 IA 3
19 2020 IA 3
20 2020 KS 3
20 2020 KS 2
21 2020 KY 2
21 2020 KY 6
21 2020 KY 3
21 2020 KY 2
21 2020 KY 6
21 2020 KY 2
21 2020 KY 3
22 2020 LA 2
22 2020 LA 3
22 2020 LA 4
22 2020 LA 5
22 2020 LA 2
22 2020 LA 5
22 2020 LA 5
24 2020 MD 4
24 2020 MD 7
24 2020 MD 4
24 2020 MD 7
25 2020 MA 2
25 2020 MA 4
25 2020 MA 7
25 2020 MA 8
25 2020 MA 3
25 2020 MA 7
25 2020 MA 1
25 2020 MA 2
26 2020 MI 5
26 2020 MI 4
26 2020 MI 2
26 2020 MI 5
26 2020 MI 3
26 2020 MI 8
26 2020 MI 2
26 2020 MI 6
26 2020 MI 8
26 2020 MI 13
26 2020 MI 11
26 2020 MI 13
26 2020 MI 10
26 2020 MI 10
26 2020 MI 13
26 2020 MI 9
27 2020 MN 1
27 2020 MN 2
27 2020 MN 3
27 2020 MN 6
27 2020 MN 2
27 2020 MN 3
27 2020 MN 7
27 2020 MN 8
27 2020 MN 7
27 2020 MN 6
28 2020 MS 2
28 2020 MS 1
28 2020 MS 1
28 2020 MS 2
29 2020 MO 6
29 2020 MO 7
29 2020 MO 6
29 2020 MO 7
29 2020 MO 6
31 2020 NE 1
31 2020 NE 2
31 2020 NE 2
31 2020 NE 1
31 2020 NE 2
32 2020 NV 2
32 2020 NV 3
32 2020 NV 2
32 2020 NV 3
34 2020 NJ 5
34 2020 NJ 7
34 2020 NJ 5
34 2020 NJ 3
34 2020 NJ 7
34 2020 NJ 4
34 2020 NJ 5
34 2020 NJ 10
34 2020 NJ 4
34 2020 NJ 9
34 2020 NJ 10
34 2020 NJ 9
34 2020 NJ 12
35 2020 NM 2
35 2020 NM 3
35 2020 NM 2
35 2020 NM 1
36 2020 NY 2
36 2020 NY 4
36 2020 NY 2
36 2020 NY 3
36 2020 NY 1
36 2020 NY 7
36 2020 NY 8
36 2020 NY 3
36 2020 NY 9
36 2020 NY 5
36 2020 NY 6
36 2020 NY 13
36 2020 NY 8
36 2020 NY 14
36 2020 NY 17
36 2020 NY 18
36 2020 NY 19
36 2020 NY 20
36 2020 NY 21
36 2020 NY 22
36 2020 NY 23
36 2020 NY 24
36 2020 NY 25
36 2020 NY 10
36 2020 NY 27
36 2020 NY 26
36 2020 NY 14
36 2020 NY 26
36 2020 NY 27
36 2020 NY 25
37 2020 NC 10
37 2020 NC 10
39 2020 OH 1
39 2020 OH 2
39 2020 OH 1
39 2020 OH 2
39 2020 OH 5
39 2020 OH 9
39 2020 OH 14
39 2020 OH 11
39 2020 OH 5
39 2020 OH 10
39 2020 OH 11
39 2020 OH 9
39 2020 OH 10
39 2020 OH 14
40 2020 OK 3
40 2020 OK 3
41 2020 OR 3
41 2020 OR 3
42 2020 PA 2
42 2020 PA 3
42 2020 PA 2
42 2020 PA 4
42 2020 PA 4
42 2020 PA 6
42 2020 PA 6
42 2020 PA 3
42 2020 PA 17
42 2020 PA 16
42 2020 PA 17
42 2020 PA 16
44 2020 RI 1
45 2020 SC 2
45 2020 SC 2
47 2020 TN 1
47 2020 TN 5
47 2020 TN 8
47 2020 TN 9
47 2020 TN 2
47 2020 TN 1
47 2020 TN 8
47 2020 TN 9
47 2020 TN 8
48 2020 TX 3
48 2020 TX 8
48 2020 TX 7
48 2020 TX 33
48 2020 TX 4
48 2020 TX 7
48 2020 TX 3
48 2020 TX 4
48 2020 TX 12
48 2020 TX 11
49 2020 UT 1
49 2020 UT 2
49 2020 UT 1
49 2020 UT 2
49 2020 UT 3
49 2020 UT 2
49 2020 UT 1
49 2020 UT 3
49 2020 UT 3
50 2020 VT 0
51 2020 VA 3
51 2020 VA 8
51 2020 VA 3
51 2020 VA 9
51 2020 VA 8
53 2020 WA 2
53 2020 WA 6
53 2020 WA 3
53 2020 WA 10
53 2020 WA 2
53 2020 WA 3
53 2020 WA 6
55 2020 WI 5
55 2020 WI 5