In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('House_dataset/1976-2020-house.csv')

In [4]:
df.shape

(31101, 20)

In [5]:
# drop unused columns and nulls
df = df.drop(columns=['mode', 'version', 'office', 'fusion_ticket', 'unofficial', 'writein',
                      'special', 'runoff', 'stage', 'state_cen', 'state_ic'])
df = df.dropna()
df = df.reset_index()
df.shape

(27472, 10)

In [6]:
# drop counties reporting zero total votes
df = df.loc[df['totalvotes'] != 0]
df.shape

(27471, 10)

In [7]:
# get % of votes each party received in each county
temp = []

for index, row in df.iterrows():
    temp.append(round(row['candidatevotes'] / row['totalvotes'], 4))
df['percentage'] = temp

In [8]:
valid_parties = ['DEMOCRAT', 'REPUBLICAN', 'LIBERTARIAN', 'INDEPENDENT', 'GREEN', 'OTHER']

for index, row in df.iterrows():
    if row['party'] not in valid_parties:
        df.loc[index,'party'] = 'OTHER'

In [9]:
counter = {}
for index, row in df.iterrows():
    if row['party'] in counter:
        counter[row['party']] += 1
    else:
        counter[row['party']] = 1
        
print(counter)

{'DEMOCRAT': 9501, 'REPUBLICAN': 9264, 'OTHER': 4349, 'INDEPENDENT': 1166, 'LIBERTARIAN': 2683, 'GREEN': 508}

In [10]:
df.head(10)

,index,year,state,state_po,state_fips,district,candidate,party,candidatevotes,totalvotes,percentage
0,0,1976,ALABAMA,AL,1,1,BILL DAVENPORT,DEMOCRAT,58906,157170,0.3748
1,1,1976,ALABAMA,AL,1,1,JACK EDWARDS,REPUBLICAN,98257,157170,0.6252
2,3,1976,ALABAMA,AL,1,2,J. CAROLE KEAHEY,DEMOCRAT,66288,156362,0.4239
3,5,1976,ALABAMA,AL,1,2,"WILLIAM L. """"BILL"""" DICKINSON",REPUBLICAN,90069,156362,0.5760
4,6,1976,ALABAMA,AL,1,3,BILL NICHOLS,DEMOCRAT,106935,108048,0.9897
5,8,1976,ALABAMA,AL,1,3,OGBURN GARDNER,OTHER,1111,108048,0.0103
6,9,1976,ALABAMA,AL,1,4,TOM BEVILL,DEMOCRAT,141490,176022,0.8038
7,10,1976,ALABAMA,AL,1,4,LEONARD WILSON,REPUBLICAN,34531,176022,0.1962
8,12,1976,ALABAMA,AL,1,5,RONNIE G. FLIPPO,DEMOCRAT,113553,113560,0.9999
9,14,1976,ALABAMA,AL,1,6,BILLY E. DORSEY,OTHER,1021,162518,0.0063

In [11]:
#create new dataframe with desired data config
curr_dist = 'AL1'
new_df = []
temp_dict = {}
for index, row in df.iterrows():
    if row['state_po'] + str(row['district']) == curr_dist:
        temp_dict['year'] = row['year']
        temp_dict['state'] = row['state_po']
        temp_dict['state_fips'] = int(row['state_fips'])
        temp_dict['district'] = row['district']
        temp_dict['total_no'] = row['totalvotes']
        curr_party = row['party'][0].lower()
        
        if curr_party == 'd':
            temp_dict['dem_no'] = row['candidatevotes']
            temp_dict['dem_pct'] = row['percentage']
        elif curr_party == 'r':
            temp_dict['rep_no'] = row['candidatevotes']
            temp_dict['rep_pct'] = row['percentage']
        elif curr_party == 'l':
            temp_dict['lib_no'] = row['candidatevotes']
            temp_dict['lib_pct'] = row['percentage']
        elif curr_party == 'g':
            temp_dict['grn_no'] = row['candidatevotes']
            temp_dict['grn_pct'] = row['percentage']
        else:
            temp_dict['oth_no'] = row['candidatevotes']
            temp_dict['oth_pct'] = row['percentage']
    else:
        copy = temp_dict.copy()
        new_df.append(copy)
        temp_dict.clear()
        
        temp_dict['year'] = row['year']
        temp_dict['state'] = row['state_po']
        temp_dict['state_fips'] = int(row['state_fips'])
        temp_dict['district'] = row['district']
        temp_dict['total_no'] = row['totalvotes']
        curr_party = row['party'][0].lower()

        if curr_party == 'd':
            temp_dict['dem_no'] = row['candidatevotes']
            temp_dict['dem_pct'] = row['percentage']
        elif curr_party == 'r':
            temp_dict['rep_no'] = row['candidatevotes']
            temp_dict['rep_pct'] = row['percentage']
        elif curr_party == 'l':
            temp_dict['lib_no'] = row['candidatevotes']
            temp_dict['lib_pct'] = row['percentage']
        elif curr_party == 'g':
            temp_dict['grn_no'] = row['candidatevotes']
            temp_dict['grn_pct'] = row['percentage']
        else:
            temp_dict['oth_no'] = row['candidatevotes']
            temp_dict['oth_pct'] = row['percentage']
    
    curr_dist = row['state_po'] + str(row['district'])
    

new_df = pd.DataFrame(new_df)

In [12]:
def get_winning_party(row):
    max_val = 0
    winning_party = '#'
    if row['dem_no'] > max_val:
        max_val = row['dem_no']
        winning_party = 'd'
    if row['rep_no'] > max_val:
        max_val = row['rep_no']
        winning_party = 'r'
    if row['grn_no'] > max_val:
        max_val = row['grn_no']
        winning_party = 'g'
    if row['lib_no'] > max_val:
        max_val = row['lib_no']
        winning_party = 'l'
    if row['oth_no'] > max_val:
        max_val = row['oth_no']
        winning_party = 'o'
    return winning_party

In [13]:
new_df.head()

,year,state,state_fips,district,total_no,dem_no,dem_pct,rep_no,rep_pct,oth_no,oth_pct,lib_no,lib_pct,grn_no,grn_pct
0,1976,AL,1,1,157170,58906.0,0.3748,98257.0,0.6252,NaN,NaN,NaN,NaN,NaN,NaN
1,1976,AL,1,2,156362,66288.0,0.4239,90069.0,0.5760,NaN,NaN,NaN,NaN,NaN,NaN
2,1976,AL,1,3,108048,106935.0,0.9897,NaN,NaN,1111.0,0.0103,NaN,NaN,NaN,NaN
3,1976,AL,1,4,176022,141490.0,0.8038,34531.0,0.1962,NaN,NaN,NaN,NaN,NaN,NaN
4,1976,AL,1,5,113560,113553.0,0.9999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
#create new dataframe with desired data config
curr_state = 'AL'
final_df = []
temp_dict = {}
for index, row in new_df.iterrows():
    if index >= len(new_df):
        break
    
    if row['state'] == curr_state:
        temp_dict['year'] = row['year']
        temp_dict['state'] = row['state']
        temp_dict['state_fips'] = int(row['state_fips'])
        curr_party = get_winning_party(new_df.loc[index])
        
        if curr_party == 'd':
            if 'dem_no' in temp_dict:
                temp_dict['dem_no'] += 1
            else:
                temp_dict['dem_no'] = 1
        elif curr_party == 'r':
            if 'rep_no' in temp_dict:
                temp_dict['rep_no'] += 1
            else:
                temp_dict['rep_no'] = 1
        elif curr_party == 'l':
            if 'lib_no' in temp_dict:
                temp_dict['lib_no'] += 1
            else:
                temp_dict['lib_no'] = 1
        elif curr_party == 'g':
            if 'grn_no' in temp_dict:
                temp_dict['grn_no'] += 1
            else:
                temp_dict['grn_no'] = 1
        elif curr_party == 'o':
            if 'oth_no' in temp_dict:
                temp_dict['oth_no'] += 1
            else:
                temp_dict['oth_no'] = 1
                            
    else:
        total = 0
        if 'dem_no' in temp_dict:
            total += temp_dict['dem_no']
        else:
            temp_dict['dem_no'] = 0 
        if 'rep_no' in temp_dict:
            total += temp_dict['rep_no']
        else:
            temp_dict['rep_no'] = 0  
        if 'lib_no' in temp_dict:
            total += temp_dict['lib_no']
        else:
            temp_dict['lib_no'] = 0  
        if 'grn_no' in temp_dict:
            total += temp_dict['grn_no']
        else:
            temp_dict['grn_no'] = 0  
        if 'oth_no' in temp_dict:
            total += temp_dict['oth_no']
        else:
            temp_dict['oth_no'] = 0
            
        temp_dict['total_no'] = total
        
        temp_dict['dem_pct'] = round(temp_dict['dem_no'] / temp_dict['total_no'], 4)
        temp_dict['rep_pct'] = round(temp_dict['rep_no'] / temp_dict['total_no'], 4)
        temp_dict['lib_pct'] = round(temp_dict['lib_no'] / temp_dict['total_no'], 4)
        temp_dict['grn_pct'] = round(temp_dict['grn_no'] / temp_dict['total_no'], 4)
        temp_dict['oth_pct'] = round(temp_dict['oth_no'] / temp_dict['total_no'], 4)
            
        
        copy = temp_dict.copy()
        final_df.append(copy)
        temp_dict.clear()
        
        temp_dict['year'] = row['year']
        temp_dict['state'] = row['state']
        temp_dict['state_fips'] = int(row['state_fips'])
        curr_party = get_winning_party(new_df.loc[index])

        if curr_party == 'd':
            if 'dem_no' in temp_dict:
                temp_dict['dem_no'] += 1
            else:
                temp_dict['dem_no'] = 1
        elif curr_party == 'r':
            if 'rep_no' in temp_dict:
                temp_dict['rep_no'] += 1
            else:
                temp_dict['rep_no'] = 1
        elif curr_party == 'l':
            if 'lib_no' in temp_dict:
                temp_dict['lib_no'] += 1
            else:
                temp_dict['lib_no'] = 1
        elif curr_party == 'g':
            if 'grn_no' in temp_dict:
                temp_dict['grn_no'] += 1
            else:
                temp_dict['grn_no'] = 1
        elif curr_party == 'o':
            if 'oth_no' in temp_dict:
                temp_dict['oth_no'] += 1
            else:
                temp_dict['oth_no'] = 1
    
    curr_state = row['state']
    

final_df = pd.DataFrame(final_df)
final_df = final_df.set_index("state_fips")
final_df["state_fips"] = final_df.index

In [28]:
final_df.head(55)

,year,state,rep_no,dem_no,lib_no,grn_no,oth_no,total_no,dem_pct,rep_pct,lib_pct,grn_pct,oth_pct,state_fips
state_fips,,,,,,,,,,,,,,
1,1976,AL,3,4,0,0,0,7,0.5714,0.4286,0.0,0.0,0.0,1
2,1976,AK,1,0,0,0,0,1,0.0000,1.0000,0.0,0.0,0.0,2
4,1976,AZ,2,2,0,0,0,4,0.5000,0.5000,0.0,0.0,0.0,4
5,1976,AR,1,3,0,0,0,4,0.7500,0.2500,0.0,0.0,0.0,5
6,1976,CA,14,29,0,0,0,43,0.6744,0.3256,0.0,0.0,0.0,6
8,1976,CO,2,3,0,0,0,5,0.6000,0.4000,0.0,0.0,0.0,8
9,1976,CT,2,4,0,0,0,6,0.6667,0.3333,0.0,0.0,0.0,9
10,1976,DE,1,0,0,0,0,1,0.0000,1.0000,0.0,0.0,0.0,10
12,1976,FL,5,10,0,0,0,15,0.6667,0.3333,0.0,0.0,0.0,12
13,1976,GA,0,10,0,0,0,10,1.0000,0.0000,0.0,0.0,0.0,13
15,1976,HI,0,2,0,0,0,2,1.0000,0.0000,0.0,0.0,0.0,15
16,1976,ID,2,0,0,0,0,2,0.0000,1.0000,0.0,0.0,0.0,16
17,1976,IL,12,12,0,0,0,24,0.5000,0.5000,0.0,0.0,0.0,17
18,1976,IN,3,8,0,0,0,11,0.7273,0.2727,0.0,0.0,0.0,18
19,1976,IA,2,4,0,0,0,6,0.6667,0.3333,0.0,0.0,0.0,19
20,1976,KS,3,2,0,0,0,5,0.4000,0.6000,0.0,0.0,0.0,20
21,1976,KY,2,5,0,0,0,7,0.7143,0.2857,0.0,0.0,0.0,21
22,1976,LA,2,6,0,0,0,8,0.7500,0.2500,0.0,0.0,0.0,22
23,1976,ME,2,0,0,0,0,2,0.0000,1.0000,0.0,0.0,0.0,23
24,1976,MD,3,5,0,0,0,8,0.6250,0.3750,0.0,0.0,0.0,24
25,1976,MA,2,10,0,0,0,12,0.8333,0.1667,0.0,0.0,0.0,25
26,1976,MI,8,11,0,0,0,19,0.5789,0.4211,0.0,0.0,0.0,26
27,1976,MN,3,5,0,0,0,8,0.6250,0.3750,0.0,0.0,0.0,27
28,1976,MS,2,3,0,0,0,5,0.6000,0.4000,0.0,0.0,0.0,28
29,1976,MO,2,8,0,0,0,10,0.8000,0.2000,0.0,0.0,0.0,29
30,1976,MT,1,1,0,0,0,2,0.5000,0.5000,0.0,0.0,0.0,30
31,1976,NE,2,1,0,0,0,3,0.3333,0.6667,0.0,0.0,0.0,31
32,1976,NV,0,1,0,0,0,1,1.0000,0.0000,0.0,0.0,0.0,32
33,1976,NH,1,1,0,0,0,2,0.5000,0.5000,0.0,0.0,0.0,33
34,1976,NJ,4,11,0,0,0,15,0.7333,0.2667,0.0,0.0,0.0,34
35,1976,NM,1,1,0,0,0,2,0.5000,0.5000,0.0,0.0,0.0,35
36,1976,NY,12,27,0,0,0,39,0.6923,0.3077,0.0,0.0,0.0,36
37,1976,NC,2,9,0,0,0,11,0.8182,0.1818,0.0,0.0,0.0,37
38,1976,ND,1,0,0,0,0,1,0.0000,1.0000,0.0,0.0,0.0,38
39,1976,OH,13,10,0,0,0,23,0.4348,0.5652,0.0,0.0,0.0,39
40,1976,OK,1,5,0,0,0,6,0.8333,0.1667,0.0,0.0,0.0,40
41,1976,OR,0,4,0,0,0,4,1.0000,0.0000,0.0,0.0,0.0,41
42,1976,PA,7,18,0,0,0,25,0.7200,0.2800,0.0,0.0,0.0,42
44,1976,RI,0,2,0,0,0,2,1.0000,0.0000,0.0,0.0,0.0,44
45,1976,SC,1,5,0,0,0,6,0.8333,0.1667,0.0,0.0,0.0,45
46,1976,SD,2,0,0,0,0,2,0.0000,1.0000,0.0,0.0,0.0,46
47,1976,TN,3,5,0,0,0,8,0.6250,0.3750,0.0,0.0,0.0,47
48,1976,TX,2,22,0,0,0,24,0.9167,0.0833,0.0,0.0,0.0,48
49,1976,UT,1,1,0,0,0,2,0.5000,0.5000,0.0,0.0,0.0,49
50,1976,VT,1,0,0,0,0,1,0.0000,1.0000,0.0,0.0,0.0,50
51,1976,VA,6,4,0,0,0,10,0.4000,0.6000,0.0,0.0,0.0,51
53,1976,WA,1,6,0,0,0,7,0.8571,0.1429,0.0,0.0,0.0,53
54,1976,WV,0,4,0,0,0,4,1.0000,0.0000,0.0,0.0,0.0,54
55,1976,WI,2,7,0,0,0,9,0.7778,0.2222,0.0,0.0,0.0,55
56,1976,WY,0,1,0,0,0,1,1.0000,0.0000,0.0,0.0,0.0,56
1,1978,AL,3,4,0,0,0,7,0.5714,0.4286,0.0,0.0,0.0,1
2,1978,AK,1,0,0,0,0,1,0.0000,1.0000,0.0,0.0,0.0,2
4,1978,AZ,2,2,0,0,0,4,0.5000,0.5000,0.0,0.0,0.0,4
5,1978,AR,2,2,0,0,0,4,0.5000,0.5000,0.0,0.0,0.0,5
6,1978,CA,17,26,0,0,0,43,0.6047,0.3953,0.0,0.0,0.0,6

In [16]:
print(len(final_df))

1156

In [30]:
final_df.loc[final_df["year"] == 2016]

,year,state,rep_no,dem_no,lib_no,grn_no,oth_no,total_no,dem_pct,rep_pct,lib_pct,grn_pct,oth_pct,state_fips
state_fips,,,,,,,,,,,,,,
1,2016,AL,6,1,0,0,0,7,0.1429,0.8571,0.0,0.0,0.0,1
2,2016,AK,1,0,0,0,0,1,0.0000,1.0000,0.0,0.0,0.0,2
4,2016,AZ,5,4,0,0,0,9,0.4444,0.5556,0.0,0.0,0.0,4
5,2016,AR,4,0,0,0,0,4,0.0000,1.0000,0.0,0.0,0.0,5
6,2016,CA,14,39,0,0,0,53,0.7358,0.2642,0.0,0.0,0.0,6
8,2016,CO,4,3,0,0,0,7,0.4286,0.5714,0.0,0.0,0.0,8
9,2016,CT,0,4,0,0,0,4,1.0000,0.0000,0.0,0.0,0.0,9
10,2016,DE,0,1,0,0,0,1,1.0000,0.0000,0.0,0.0,0.0,10
12,2016,FL,16,10,0,0,0,26,0.3846,0.6154,0.0,0.0,0.0,12
13,2016,GA,10,4,0,0,0,14,0.2857,0.7143,0.0,0.0,0.0,13
15,2016,HI,0,2,0,0,0,2,1.0000,0.0000,0.0,0.0,0.0,15
16,2016,ID,2,0,0,0,0,2,0.0000,1.0000,0.0,0.0,0.0,16
17,2016,IL,7,11,0,0,0,18,0.6111,0.3889,0.0,0.0,0.0,17
18,2016,IN,7,2,0,0,0,9,0.2222,0.7778,0.0,0.0,0.0,18
19,2016,IA,3,1,0,0,0,4,0.2500,0.7500,0.0,0.0,0.0,19
20,2016,KS,4,0,0,0,0,4,0.0000,1.0000,0.0,0.0,0.0,20
21,2016,KY,5,1,0,0,0,6,0.1667,0.8333,0.0,0.0,0.0,21
22,2016,LA,4,2,0,0,0,6,0.3333,0.6667,0.0,0.0,0.0,22
23,2016,ME,1,1,0,0,0,2,0.5000,0.5000,0.0,0.0,0.0,23
24,2016,MD,1,7,0,0,0,8,0.8750,0.1250,0.0,0.0,0.0,24
25,2016,MA,0,9,0,0,0,9,1.0000,0.0000,0.0,0.0,0.0,25
26,2016,MI,9,5,0,0,0,14,0.3571,0.6429,0.0,0.0,0.0,26
27,2016,MN,3,5,0,0,0,8,0.6250,0.3750,0.0,0.0,0.0,27
28,2016,MS,3,1,0,0,0,4,0.2500,0.7500,0.0,0.0,0.0,28
29,2016,MO,6,2,0,0,0,8,0.2500,0.7500,0.0,0.0,0.0,29
30,2016,MT,1,0,0,0,0,1,0.0000,1.0000,0.0,0.0,0.0,30
31,2016,NE,3,0,0,0,0,3,0.0000,1.0000,0.0,0.0,0.0,31
32,2016,NV,1,3,0,0,0,4,0.7500,0.2500,0.0,0.0,0.0,32
33,2016,NH,0,2,0,0,0,2,1.0000,0.0000,0.0,0.0,0.0,33
34,2016,NJ,5,7,0,0,0,12,0.5833,0.4167,0.0,0.0,0.0,34
35,2016,NM,1,2,0,0,0,3,0.6667,0.3333,0.0,0.0,0.0,35
36,2016,NY,9,18,0,0,0,27,0.6667,0.3333,0.0,0.0,0.0,36
37,2016,NC,10,3,0,0,0,13,0.2308,0.7692,0.0,0.0,0.0,37
38,2016,ND,1,0,0,0,0,1,0.0000,1.0000,0.0,0.0,0.0,38
39,2016,OH,12,4,0,0,0,16,0.2500,0.7500,0.0,0.0,0.0,39
40,2016,OK,5,0,0,0,0,5,0.0000,1.0000,0.0,0.0,0.0,40
41,2016,OR,1,4,0,0,0,5,0.8000,0.2000,0.0,0.0,0.0,41
42,2016,PA,13,5,0,0,0,18,0.2778,0.7222,0.0,0.0,0.0,42
44,2016,RI,0,2,0,0,0,2,1.0000,0.0000,0.0,0.0,0.0,44
45,2016,SC,6,1,0,0,0,7,0.1429,0.8571,0.0,0.0,0.0,45
46,2016,SD,1,0,0,0,0,1,0.0000,1.0000,0.0,0.0,0.0,46
47,2016,TN,7,2,0,0,0,9,0.2222,0.7778,0.0,0.0,0.0,47
48,2016,TX,25,11,0,0,0,36,0.3056,0.6944,0.0,0.0,0.0,48
49,2016,UT,4,0,0,0,0,4,0.0000,1.0000,0.0,0.0,0.0,49
50,2016,VT,0,1,0,0,0,1,1.0000,0.0000,0.0,0.0,0.0,50
51,2016,VA,7,4,0,0,0,11,0.3636,0.6364,0.0,0.0,0.0,51
53,2016,WA,4,6,0,0,0,10,0.6000,0.4000,0.0,0.0,0.0,53
54,2016,WV,3,0,0,0,0,3,0.0000,1.0000,0.0,0.0,0.0,54
55,2016,WI,5,3,0,0,0,8,0.3750,0.6250,0.0,0.0,0.0,55
56,2016,WY,1,0,0,0,0,1,0.0000,1.0000,0.0,0.0,0.0,56
9,2016,CT,0,2,0,0,0,2,1.0000,0.0000,0.0,0.0,0.0,9